{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h2>Edit Category</h2>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <p>
        <a href="{{ path('app_category_index') }}">← Back to list</a>
    </p>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
