{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h2>Create New Category</h2>

    {{ include('category/_form.html.twig') }}

    <p>
        <a href="{{ path('app_category_index') }}">← Back to list</a>
    </p>
{% endblock %}
