{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h2>Edit Product</h2>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <p>
        <a href="{{ path('app_product_index') }}">← Back to list</a>
    </p>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
