{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h2>Edit Product</h2>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}" class="btn btn-secondary mt-3">← Back to list</a>

{% endblock %}
