{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h2>Edit Order</h2>

    {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_order_index') }}" class="btn btn-secondary mt-3">← Back to list</a>

    <div class="mt-3">
        {{ include('order/_delete_form.html.twig') }}
    </div>
{% endblock %}
