{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h2>Create New Order</h2>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('app_order_index') }}" class="btn btn-secondary mt-3">← Back to list</a>
{% endblock %}
