{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h2>Create New Order</h2>

    {{ include('order/_form.html.twig') }}

    <p>
        <a href="{{ path('app_order_index') }}">← Back to list</a>
    </p>
{% endblock %}
