{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <h1>Oops! That page doesn’t exist.</h1>
    <p>We couldn't find the page you're looking for.</p>
{% endblock %}
